* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

button:hover {
    opacity: .8;
}

#app {
    width: 600px;
    padding: 24px;
    border-radius: 20px;
    box-shadow: 0px 1px 4px rgba(0,0,0,.2);
}

h2 {
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 24px;
    letter-spacing: 1px;
    color: #fc790e;
}

.input__side {
    text-align: center;
    padding: 0px 36px;
}

.input__box {
    text-align: left;
    margin-bottom: 12px;
}

label {
    display: block;
    font-size: 12px;
    margin-bottom: 4px;
    font-style: italic;
    color: lightgray;
}

input {
    width: 100%;
    outline: none;
    padding: 6px 12px;
    border-radius: 4px;
    outline: none;
    border: 1px solid gray;
    color: gray;
}

input:focus {
    border-color: #fc790e;
}

.save__btn {
    margin-top: 12px;
    margin-bottom: 24px;
    outline: none;
    cursor: pointer;
    background-color: #fc790e;
    color: white;
    padding: 6px 24px;
    border: none;
    border-radius: 20px;
}

.data__side {
    height: 240px;
    border-top: 2px solid #fc790e;
    overflow-y: scroll;
    padding: 0px 12px;
}

.item {
    padding: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 1px 4px rgba(0,0,0,.1);
    margin: 6px 0px;
    border-radius: 4px;
}

 .item:hover {
    background-color: #f5f5f5;
 }

 .item__row span {
    font-size: 14px;
    color: #858585;
 }

 .item__row i {
    margin-right: 4px;
    color: #fc790e;
 }

 .item__btn {
    font-size: 16px;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 50%;
    width: 32px;
    height: 32px;
}

.delete--btn {
    background-color: #ffd7d7;
    color: #ad0000;
    margin-right: 8px;
}

.update--btn {
    background-color: #d9d9ff;
    color: #000088;
}